.main-wrap {
    margin: 0 auto;
    width: 900px;
    padding: 20px 0;
}

.gallery-wrap {
    margin: 0 auto;
    width: 100%;
    height: 500px;
    padding: 50px 0;
}

.carousel-placeholder-v2 {
    width: 700px;
}

.carousel-placeholder-v3,
.carousel-placeholder-v4 {
    height: 700px;
}

.carousel {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.carousel__viewport-container {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.carousel__viewport {
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
    transition: transform 0.3s ease-out;
}

.carousel__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__btn {
    background-color: rgba(255, 255, 255, 0.1);
    background-repeat: no-repeat;
    background-size: 34px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    transition: background-color 0.5s;

    &:hover {
        background-color: rgba(255, 255, 255, 0.7);
    }
}

.carousel__btn--left {
    background-image: url('/assets/images/arrow-left.svg');
    background-position: 12px center;
    left: 10px;
}

.carousel__btn--right {
    background-image: url('/assets/images/arrow-right.svg');
    background-position: 18px center;
    right: 10px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    gap: 6px;
    padding: 15px 0;
}

.carousel__nav-btn {
    background-color: #aeaeae;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    height: 16px;
    width: 16px;
}

.carousel__nav-btn--active {
    background-color: rgb(27, 20, 20);
}

.carousel__thumbnails {
    background-color: #eeeee4;
    display: flex;
    // justify-content: center;
    gap: 14px;
    height: 78px;
    overflow-x: auto;
    overflow-y: hidden;
    list-style: none;
    padding: 20px 6px;
    margin: 0;

    &::-webkit-scrollbar {
        height: 8px;
    }
    &::-webkit-scrollbar-track {
        background-color: #eeeee4;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #aeaeae;
        border-radius: 4px;
    }
}

.carousel__thumb-item {
    height: 60px;
    width: 100px;
    flex: 0 0 100px;
}

.carousel__thumb-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}